@import '../../../styles/colorConstants';

.button {
  width: 150px;
  background: $blue-color;
  color: #fff;
  font-weight: 500;
  height: 40px;
  font-style: inherit;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.button:hover {
  opacity: .8;
  transform: opacity .2s linear;
}

.button:disabled {
  cursor: default;
  opacity: .6;
}

.button_form {
  margin: 5px 0 0;
  align-self: center;
}